<%= render "devise/shared/error_messages", resource: resource %>

<div class="row">
  <h1 class="h3 mb-3 fw-normal"><%= t('.title') %></h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false } }) do |f| %>

    <div class="col-md-5">
      <%= f.label :email, t('.enter_email'), class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t('.enter_email') %>
    </div>

    <div class="col-md-5">
      <%= f.label :password, t('.enter_password'), class: "form-label" %>
      <% if @minimum_password_length %>
      <em>(<%= "#{@minimum_password_length} #{t('.characters_min')}" %>)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: t('.enter_password') %>
    </div>

    <div class="col-md-5">
      <%= f.label :password_confirmation, t('.confirm_password'), class: "form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: t('.confirm_password') %>
    </div>
    <br/>

    <div class="actions">
      <%= f.submit t('.sign_up'), class: "btn btn-primary" %>
    </div>
  <% end %>

</div>

<%= render "devise/shared/links" %>
