<div class="row">
<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { data: { turbo: false } }) do |f| %>

  <h1 class="h3 mb-3 fw-normal"><%= t('.title') %></h1>

  <div class="col-md-5">
    <%= f.label :email, t('.enter_email'), class: "form-label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: t('.enter_email') %>
  </div>

  <div class="col-md-5">
    <%= f.label :password, t('.enter_password'), class: "form-label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: t('.enter_password') %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <div class="form-check">
        <label>
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, t('.remember_me') %>
        </label>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('.sign_in'), class: "btn btn-primary" %>
  </div>
<% end %>
</div>

<%= render "devise/shared/links" %>
